.sectionFour{
    padding: 6% 3% 10% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: max(40px,5.2vw);
}

.sectionFour-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFour-header h1{
    width: 60%;
    text-align: center;
    font-family: "popmed";
    font-size: max(22px,2vw);
}


.company1{
    content: url("../../../../assets/Home/SectionFour-photos/layer1.png");
}
.company2{
    content: url("../../../../assets/Home/SectionFour-photos/layer2.png");
}
.company3{
    content: url("../../../../assets/Home/SectionFour-photos/layer3.png");
}
.company4{
    content: url("../../../../assets/Home/SectionFour-photos/layer4.png");
}
.company5{
    content: url("../../../../assets/Home/SectionFour-photos/layer5.png");
}
.company6{
    content: url("../../../../assets/Home/SectionFour-photos/layer6.png");
}
.company7{
    content: url("../../../../assets/Home/SectionFour-photos/layer7.png");
}


.sectionFour-content{
    display: flex;
    flex-direction: column;
    gap: max(35px,2.4vw);
}
.companies-one, .companies-two{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1{
    display: flex;
    gap: max(35px,4vw);
    justify-content: space-between;
    align-items: center;
}
.row2{
    display: flex;
    gap: max(35px,4vw);
    justify-content: center;
    align-items: center;
}

@media (max-width:870px){
    .sectionFour-header h1{
        width: 70%;
    }
    .row1{
        width: 80%;
    }
    .row1,.row2{
        flex-wrap: wrap;
    }
    .companies-one{
        align-items: center;
    }
    .company-wrapper-four{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width:777px){
    .company-wrapper-three{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width:553px){
    .company-wrapper-two{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width:700px){
    .sectionFour-header h1{
        width: 80%;
    }
}

@media (max-width:515px){
    .sectionFour-header h1{
        width: 90%;
    }
    .company-wrapper-onee{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width:553px){
    .company-wrapper-onee{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width:500px){
    .sectionFour-header h1{
        width: 100%;
    }
    .company{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .sectionFour-content{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .company-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}


