.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 5% 15% 5%;
    gap: max(40px,5vw);
}
.sf-header{
    width: 60%;
    font-family: "popmed";
    font-size: max(25px,2.1vw);
    text-align: center;
}
.sfour-cup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sfour-cdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 74%;
    gap: max(30px,2.5vw);
}


.company1{
    content: url("../../../../assets/Home/SectionFour-photos/layer1.png");
}
.company2{
    content: url("../../../../assets/Home/SectionFour-photos/layer2.png");
}
.company3{
    content: url("../../../../assets/Home/SectionFour-photos/layer3.png");
}
.company4{
    content: url("../../../../assets/Home/SectionFour-photos/layer4.png");
}
.company5{
    content: url("../../../../assets/Home/SectionFour-photos/layer5.png");
}
.company6{
    content: url("../../../../assets/Home/SectionFour-photos/layer6.png");
}
.company7{
    content: url("../../../../assets/Home/SectionFour-photos/layer7.png");
}

@media (max-width:1205px){
    .sfour-cdown{
        width: 85%;
    }
}
@media (max-width:1053px) {
    .sfour-cdown{
        width: 90%;
    }
}
@media (max-width:995px){
    .sfour-cdown{
        width: 100%;
    }
}
@media (max-width:897px){
   .sfour-cdown{
    width: 80%;
   }
}
@media (max-width:797px){
    .sf-header{
        width: 80%;
    }
    .sfour-cdown{
        width: 85%;
    }
}
@media (max-width:752px){
   .sfour-cdown{
    width: 90%;
   }
}
@media (max-width:711px){
    .sfour-cdown{
        width: 100%;
    }
}
 @media (max-width:642px){
   .sfour-cdown{
    width: 50%;
   }
}

@media (max-width:465px){
   .sfour-cdown{
    width: 80%;
   }
}
@media (max-width:300px){
   .sfour-cdown{
    width: 100%;
   }
} 
@media (max-width:630px){
    .sf-header{
        width: 100%;
    }
}

